::placeholder {
  color: #828282;
}

.section-booking {
  padding: 5%;
}

.form-booking {
  background: #fff;
  padding: 5%;
  margin-bottom: 15%;
  border-radius: 16px;
  .form-group {
    position: relative;
    .button-back {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: -15px;
      left: -15px;
      font-size: 30px;
      background: red;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      color: #fff;
      background: #21846d;
      cursor: pointer;
    }
  }
  .form-check {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 101%;
    bottom: 0;
    padding: 15px 5%;
    margin-left: -10%;
    box-sizing: border-box;
    color: #fff;
    background: darken(#3dceac, 20%);
    box-shadow: rgba(0, 0, 0, 0.03) 0px -24px 32px 0px,
      rgba(0, 0, 0, 0.06) 0px -8px 32px 0px;
    p {
      padding: 0 2% 0;
      font-size: 14px;
    }
  }

  input[type='submit'] {
    -webkit-appearance: none;
    padding: 10px 20px;
    margin-left: auto;
    background: #fff;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    color: #2caf90;
    box-shadow: 0 2px 4px 0 rgba(81, 99, 120, 0.2);
    cursor: pointer;
  }
  .row {
    display: flex;
    margin: 8px 0;
    padding: 5%;
    min-height: 62px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    font-size: 14px;
    .title {
      width: 20%;
      justify-content: left;
      align-items: center;
      display: flex;
      .selected {
        color: #2caf90;
        margin-left: auto;
        font-weight: bold;
      }
    }
    .form {
      display: flex;
      width: 80%;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      box-sizing: border-box;
    }
    input {
      width: 100%;
      border: none;
      font-size: 14px;
      &[type='radio'] {
        -webkit-appearance: none;
        margin: 0 5px 0 0;
        width: 18px;
        height: 18px;
        border: 4px solid #e0e0e0;
        box-sizing: border-box;
        border-radius: 50%;
        outline: none;
        cursor: pointer;
        &:checked {
          border: 4px solid #2caf90;
        }
      }
    }
    label {
      display: flex;
      align-items: center;
      margin-right: 7%;
      color: #828282;
    }
    &.branch {
      flex-direction: column;
      .title {
        width: 100%;
        margin-bottom: 20px;
      }
      .form {
        width: 100%;
        flex-wrap: wrap;
      }
      input[type='radio'] {
        width: 0;
        height: 0;
        border: none;
        margin: 0;
        &:checked {
          border: none;
        }
      }
      label {
        margin: 0;
        align-content: center;
        width: 49%;
        margin: 0 0.5% 1%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #bdbdbd;
        cursor: pointer;
        &.selected {
          background: #2caf90;
          border-color: #2c7f74;
          color: #fff;
        }
      }
    }
    &.date {
      flex-direction: column;
      .title {
        width: 100%;
        margin-bottom: 20px;
      }
      .form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      }
      .time {
        width: 24%;
        border: 1px solid #bdbdbd;
        padding: 10px;
        margin: 0.5%;
        box-sizing: border-box;
        color: #828282;
        cursor: pointer;
        &.disabled {
          background: #e5e5e5;
          color: #828282;
          cursor: not-allowed;
        }
        &.selected {
          background: #2caf90;
          border-color: #2c7f74;
          color: #fff;
        }
      }
      input {
        margin-left: auto;
      }
    }
    &.request {
      flex-direction: column;
      .title {
        width: 100%;
        margin-bottom: 20px;
      }
      .form {
        width: 100%;
        input {
          width: 100%;
        }
      }
    }
  }
}

.complete {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  padding: 5% 5% 20%;
  border-radius: 16px;
  .title {
    font-size: 18px;
    color: #546476;
  }
  .detail {
    margin: 20px 0;
    p {
      color: #1b2733;
      margin: 2px 0;
    }
  }
  .done {
    width: 60%;
  }
}

@media screen and (min-width: 900px) {
  form {
    display: flex;
  }
  .section-booking {
    padding: 2% 5%;
    .form-booking {
      flex-direction: row;
      padding: 1%;
      margin-bottom: 4%;
      .form-group {
        width: 33%;
        box-sizing: border-box;
        padding: 20px;
      }
      .form-check {
        padding: 30px 6%;
        margin-left: -6%;
        p {
          font-size: 16px;
        }
      }
    }
  }
}

.react-calendar {
  border: none;
  margin: 0 auto 20px;
  .react-calendar__navigation {
    margin-bottom: 5px;
  }
  .react-calendar__tile--active {
    background: #2caf90;
  }
  .react-calendar .react-calendar__navigation button[disabled],
  .react-calendar__navigation button[disabled],
  .react-calendar__tile:disabled {
    background: transparent;
    color: #ebebeb;
  }
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--active:enabled:focus,
  .react-calendar__tile:enabled:hover,
  .react-calendar__tile:enabled:focus {
    background: #2caf90;
    color: #fff;
  }
  .react-calendar__month-view__days__day--neighboringMonth {
    color: #ebebeb;
  }
  abbr[title] {
    text-decoration: none;
  }
  button {
    font-size: 16px;
  }
}
