.header {
  display: flex;
  position: fixed;
  z-index: 100;
  padding: 15px 5%;
  background: #fff;
  width: 100%;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.03) 0px 24px 32px 0px,
    rgba(0, 0, 0, 0.06) 0px 8px 32px 0px;
  color: #fff;
  .logo {
    font-size: 20px;
    line-height: 40px;
    height: 40px;
    color: #1b2733;
  }
  .button-book {
    margin-left: auto;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    -webkit-appearance: none;
    background: #2caf90;
    box-shadow: 0 2px 4px 0 rgba(81, 99, 120, 0.2);
    cursor: pointer;
    a {
      color: #fff;
    }
  }
}
