@import './base/base.scss';

.App {
  text-align: center;
  &:after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: radial-gradient(
      circle at 50% 21%,
      $main-dark-color,
      darken($main-dark-color, 2%)
    );
  }
}

button {
  -webkit-appearance: none;
}
